.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 1170px;
  min-width: 320px;
  margin: 0 auto 10px;
}
.element {
  height: 150px;
}
@media (min-width: 768px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }
  .element {
    width: 220px;
    flex-basis: calc((100% - 30px) / 3);
  }
}
@media (min-width: 1024px) {
  .container {
    gap: 15px;
  }
  .element {
    flex-basis: calc((100% - 45px) / 4);
  }
}
