.img {
  max-width: 100%;
  max-height: 250px;
  object-fit: inherit;
  object-position: center;
}

.like {
  color: blue;
}
.location span {
  color: brown;
}
.Modal {
  /* height: 320px; */
  position: absolute;
  inset: 40px;
  border: 1px solid rgb(204, 204, 204);

  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;

  background-color: papayawhip;
}
@media (min-width: 768px) {
  .Modal {
    margin: 0 100px;
  }
  .img {
    max-height: 500px;
  }
}
